
$font-weight-bold: 900 !default;
$font-weight-semibold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;
$font-stack-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$font-stack-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !default;
